<div class="row container">
  <div class="edit-bar columns large-6 small-12">

    <h2>Edit <%= @bar.name %> </h2>

    <%= notice %>

    <%= render 'form' %>

    <%= link_to "Delete", @bar, method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
</div>
