
body {
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  font-family: "Questrial", sans-serif;

  background-image: url("/assets/boston-404526.jpg");
}

#default-image {
  padding-top: 60px;
}

#error_explanation li {
  color: red;
}

#error_explanation {
  color: red;
}

#cancel-button {
  padding-top: 60px;
}

#new-review {
  padding-top: 20px;
}

.active {
  text-decoration-color: #3B8183;
  font-family: inherit;
  font-weight: bold;
  font-size: 40px;
}

#errors {
  color: red;
}

#notice {
  color: red;
  padding-top: 20px;
}

li {
  color: white;
}

.top-bar-left {
  padding-left: 10px;
}

#user-email {
  text-align: right;
  color: white;
  font-weight:normal;
}

h1 {
  color: white;
  font-family: "Questrial", sans-serif;
}

#bar-details {
  color: white;
}

#search {
  width: auto;
}

.barlist {
  padding-top: 40px;
  color: white;
  font-size: 25px;
}

#bars-index {
  padding-top: 20px;
}

.sign-up {
  padding-bottom: 40px;
}

.bar-form {
  padding-top: 40px;
  padding-bottom: 30px;
  color: white;
}

h3 {
  color: white;
  font-family: "Questrial", sans-serif;
}

h2 {
  color: white;
  font-family: "Questrial", sans-serif;
}

.active {
  font-size: 50px;
}

a {
  font-weight: bold;
}

.alert {
  color: white;
}

label {
  color: white;
  font-weight: bold;
}

i, em {
  color: white;
  font-weight: bold;
}

input {
  background-color: white;
}

#edit-page {
  padding-top: 40px;
  padding-bottom: 30px;
}

#edit-form {
  padding-bottom: 30px;
}

#field-names {
  color: white;
}

.top-bar {
  background-color: transparent;
}

h4 {
  color: white;
  font-family: "Questrial", sans-serif;
}

#ReviewList {
  color: white;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.bar-show-details {
  text-align: center;
}

.created-by {
  color: white;
}
